body {
    font-family: 'Georgia', serif;
    color: #000;
    padding: 1rem;
    font-size: 15px;
}

section {
    width: 70%;
    max-width: 800px;
    margin: auto;
}
@media only screen and (max-width: 768px) {
    section {
        width: 90%;
        max-width: 640px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        padding: 0.2rem;
    }

    section {
        width: 95%;
        max-width: 440px;
    }
}

article {
    border: 1px #eee solid;
    position: relative;
    padding: 8px 8px 8px 75px;
    overflow-wrap: break-word;
    hyphens: auto;
}
article img {
    width: 1em;
    height: 1em;
    float: right;
}

section#action a {
    padding: 8px;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    color: #000;
}